[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui
[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb
[submodule "external/nativefiledialog-extended"]
	path = external/nativefiledialog-extended
	url = https://github.com/btzy/nativefiledialog-extended.git
